# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim swp file
*.swp

*.VC.VC.opendb

vsprojects/Debug/
vsprojects/Release/
vsprojects/bin/
vsprojects/*.opensdf
vsprojects/*.sdf
vsprojects/*.suo
vsprojects/.vs/
vsprojects/libevpp.VC.db
vsprojects/evnsq-test.vcxproj.filters
vsprojects/enc_temp_folder/
vsprojects/evnsq-test.vcxproj.user
vsprojects/libevpp-test.vcxproj.user

*.vcxproj.user

test/evpp-test
examples/echo/*/simple_echo
examples/pingpong/client/pingpong_client
examples/pingpong/server/pingpong_server

core.*

*.out

*.orig

build
build-debug
build-release
build-win64
vcpkg-build-win64
vcpkg-build


apps/evnsq/evnsqtail/evnsqtail
apps/evnsq/test/evnsqtest
apps/evnsq.bak/

3rdparty/libevent-2.1.5-beta/.vs/
3rdparty/libevent-2.1.5-beta/Win32/
3rdparty/libevent-2.1.5-beta/libevent.VC.db
3rdparty/libevent-2.1.5-beta/*.dir/
3rdparty/libevent-2.1.5-beta/build/
3rdparty/libevent-release-2.1.7-rc/build/
3rdparty/libevent-release-2.1.7-rc/*.dir/
3rdparty/glog-0.3.4/Backup/
3rdparty/glog-0.3.4/Debug/
3rdparty/glog-0.3.4/Release/
3rdparty/glog-0.3.4/UpgradeLog.htm
3rdparty/glog-0.3.4/google-glog.VC.db
3rdparty/glog-0.3.4/vsprojects/libglog/libglog.vcxproj
3rdparty/glog-0.3.4/vsprojects/libglog/libglog.vcxproj.filters
3rdparty/glog-0.3.4/vsprojects/libglog_static/Debug/
3rdparty/glog-0.3.4/vsprojects/libglog_static/Release/
3rdparty/glog-0.3.4/vsprojects/libglog_static/libglog_static.vcxproj
3rdparty/glog-0.3.4/vsprojects/libglog_static/libglog_static.vcxproj.filters
3rdparty/glog-0.3.4/vsprojects/logging_unittest/logging_unittest.vcxproj
3rdparty/glog-0.3.4/vsprojects/logging_unittest/logging_unittest.vcxproj.filters
3rdparty/glog-0.3.4/vsprojects/logging_unittest_static/logging_unittest_static.vcxproj
3rdparty/glog-0.3.4/vsprojects/logging_unittest_static/logging_unittest_static.vcxproj.filters
3rdparty/glog-0.3.4/.vs/
3rdparty/glog-0.3.4/Backup1/
3rdparty/glog-0.3.4/UpgradeLog2.htm
3rdparty/astyle/

evpp/libevpp.so.1
evpp/libevpp.so.1.0

benchmark/throughput/asio/client
benchmark/throughput/asio/server
benchmark/throughput/evpp/example_pingpong_client
benchmark/throughput/evpp/example_pingpong_server
benchmark/throughput/asio/benchmark_tcp_asio_client
benchmark/throughput/asio/benchmark_tcp_asio_server
benchmark/throughput/libevent/benchmark_tcp_libevent_client
benchmark/throughput/libevent/benchmark_tcp_libevent_server
benchmark/ioevent/libevent/benchmark_ioevent_evpp
benchmark/ioevent/libevent/benchmark_ioevent_evpp_pipe_watcher
benchmark/ioevent/libevent/benchmark_ioevent_libevent
benchmark/ioevent/libevent/dat.t0
benchmark/ioevent/libevent/pingpong_bench
benchmark/ioevent/libevent/runbench.tmp
tools/a.sh

Win32/Debug/ZERO_CHECK

