# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim swp file
*.swp

msvc/Debug/
msvc/Release/
msvc/bin/
msvc/*.opensdf
msvc/*.sdf
msvc/*.suo

test/evpp
examples/echo/simple_echo
examples/pingpong/client/pingpong_client
examples/pingpong/server/pingpong_server
core.*
*.out

