# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim swp file
*.swp

*.VC.VC.opendb

msvc/Debug/
msvc/Release/
msvc/bin/
msvc/*.opensdf
msvc/*.sdf
msvc/*.suo
msvc/.vs/
msvc/libevpp.VC.db
msvc/evnsq-test.vcxproj.filters

test/evpp-test
examples/echo/*/simple_echo
examples/pingpong/client/pingpong_client
examples/pingpong/server/pingpong_server
core.*
*.out

*.orig

apps/evnsq/evnsqtail/evnsqtail
apps/evnsq/test/evnsqtest

3rdparty/libevent-2.1.5-beta/.vs/
3rdparty/libevent-2.1.5-beta/Win32/
3rdparty/libevent-2.1.5-beta/libevent.VC.db
3rdparty/libevent-2.1.5-beta/*.dir/
3rdparty/libevent-2.1.5-beta/build/
3rdparty/libevent-release-2.1.7-rc/build/
3rdparty/libevent-release-2.1.7-rc/*.dir/
3rdparty/wininclude/event2/

evpp/libevpp.so.1
evpp/libevpp.so.1.0
rpm/backup-rpms/
rpm/build/
rpm/*.rpm

